<footer class="footer-main">
    {{ site.name }}

    <p class="extra">
      <a class="link" data-title="twitter.com/davidfastovich" href="http://twitter.com/{{ site.twitter }}" target="_blank">
          <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
      </a>
      <a class="link" data-title="github.com/davidfastovich" href="https://github.com/{{ site.github }}" target="_blank">
          <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
      </a>
      <a class="link" data-title="fastovich@wisc.edu" href="mailto:fastovich@wisc.edu">
          <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
      </a>
      <!--a class ="link" href="assets/images/David.Fastovich.CV"> <svg src="assets/icons/cv.svg"></svg>
      </a-->
    </p>
</footer>
